:root {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol';
}

body {
    margin: 0;
    position: relative;
    min-height: 100vh;
    background-color: rgba(23, 24, 110, 0.8);
}

.preGame {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 24px;
    background-color: rgba(0, 0, 0, 0.7);
    color: rgb(0, 119, 255);
    animation-name: place;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.header {
    text-align: center;
    background-color: white;
    font-weight: bolder;
    font-size: 3rem;
}

.container {
    display: none;
    min-height: 100vh;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.192);
}

.gridHold {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    gap: 144px;
}

.grid {
    display: grid;
    height: 350px;
    width: 350px;
    grid: repeat(10, 1fr) / repeat(10, 1fr);
    border: 1px solid black;
}

.grid1,
.grid2 {
    padding: 24px;
    background-color: black;
}

.cells {
    border: 1px solid black;
    background-color: white;
}

.filled,
.preview {
    background-color: rgb(10, 10, 194);
}

.miss {
    background-color: rgb(219, 68, 68);
}

.hit {
    background-color: rgb(34, 221, 34);
}

.gameDone {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 48px;
}

.endResult {
    color: black;
    font-size: 4rem;
    font-weight: bolder;
    animation-name: win;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.newGame {
    width: 250px;
    height: 100px;
    border: none;
    color: black;
    font-weight: bold;
    font-size: 2rem;
    background-color: white;
    border: 2px solid black;
    border-radius: 12px;
}

.newGame:active {
    transform: translate(0.95);
}

#bot > .target:hover {
    background-color: rgba(255, 255, 255, 0.4);
    cursor: crosshair;
}

@keyframes place {
    0% {
        color: rgb(0, 119, 255);
    }

    25% {
        color: rgb(0, 255, 85);
    }

    50% {
        color: rgb(0, 255, 242);
    }

    75% {
        color: rgb(255, 51, 0);
    }

    100% {
        color: rgb(0, 119, 255);
    }
}

@keyframes win {
    0% {
        color: rgb(123, 255, 0);
    }

    25% {
        color: rgb(238, 255, 0);
    }

    50% {
        color: rgb(255, 72, 0);
    }

    75% {
        color: rgb(225, 0, 255);
    }

    100% {
        color: rgb(0, 255, 0);
    }
}

@media screen and (max-width: 950px) {
    .preGame {
        padding: 6px;
    }
    .gridHold {
        gap: 24px;
        margin-top: 48px;
        margin-bottom: 48px;
    }
    .grid {
        width: 100px;
        height: 100px;
    }

    .grid1, .grid2 {
        padding: 6px;
    }

    .preGame > h1 {
        font-size: 0.8rem;
    }

    .header {
        font-size: 1.5rem;
    }
}
